body {
  font-family: "lunchtype24expanded_regular", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #000;
}

::-webkit-scrollbar {
  display: none;
}

/* HEADER */
.site-header {
  background-color: #fb7915;
}
/* menu */
.main-navigation {
  margin: 32px 0 48px 64px;
}
.main-menu a {
  display: block;
  font-size: 32px;
  text-decoration: none;
  color: #fff;
  line-height: 1.5;
}

/* menu hover */
.main-menu .menu-item a {
  transition: opacity 0.2s ease;
}

.archive .main-menu .menu-item a,
.main-menu:hover .menu-item a {
  opacity: 0.25;
}

.main-menu .menu-item.current-menu-item a,
.main-menu .menu-item:hover a {
  opacity: 1;
}

.logo {
  max-width: 330px;
}

.site-branding img {
  width: auto !important;
  height: auto !important;
  display: block;
  max-height: 100vh;
}

/* PRODUCTS */
.products {
  padding: 0px;
  margin: 0px;
  display: flex;
  list-style: none;
}

.product a {
  display: block;
  padding: 32px;
  text-decoration: none;
  color: white;
}

.product img {
  display: block;
  width: auto !important;
  height: auto !important;
  margin: auto;
}

.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 32px 24px;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.product:hover .product-info {
  opacity: 1;
}

.product-info .woocommerce-loop-product__title {
  font-size: 24px;
  font-family: "lunchtype24expanded_medium", sans-serif;
  margin: 0;
  line-height: 1;
}

.product-info .price {
  font-size: 20px;
}

.single-product .product{
  display: flex;
  padding: 32px;
}

.woocommerce-products-gallery {
  display: flex;
}

.single-product .summary {
  max-width: 390px;
  padding-left: 64px;
}

/* marquee effect */

.woocommerce-products-header__title {
  display: flex;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transform: translateX(-50%);
  width: 200%;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: block;
  animation: marquee 2s linear infinite;
  line-height: 1;
  font-size: 32px;
  padding: 32px;
}

/* Static Page Syles */

.page-content{
  max-width: 1220px;
}

.header-page{
  padding: 32px 64px;
  margin-bottom: 64px;
  background-color: #fbbb28;
}